# Ignorera bin- och obj-kataloger men inkludera specifika filer
[Bb]in/
[Oo]bj/

# Undantag för specifika filer i bin/Debug/net9.0/
!/bin/Debug/net9.0/appsettings.json
!/bin/Debug/net9.0/products.db

# Ignorera macOS-specifika filer
.DS_Store

# Ignorera användarspecifika filer för IDE:n
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates

# Ignorera byggresultat och temporära filer
*.tmp
*.log
*.obj
*.pch
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog

# Ignorera nuget-relaterade filer
*.nupkg
*.snupkg
packages/

# Ignorera backupfiler
*.bak
*.swp

# Ignorera publika inställningar och configfiler
*.PublishSettings
*.pubxml
*.pubxml.user

# Ignorera byggresultat för olika arkitekturer
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Ignorera filer relaterade till Azure
csx/
*.build.csdef
ecf/
rcf/

# Ignorera testresultat
[Tt]est[Rr]esult*/
build/
logs/
*.trx
*.coverage
*.coveragexml

# Ignorera lokala versionshanteringsfiler
localhistory/
.vshistory/

# Ignorera temporära användarinställningar och metadata
*.userprefs
*.tss
*.tmproj